
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=KoHo&family=Montserrat+Subrayada&family=Noto+Sans+KR&display=swap')
@import "./styles/_colors.sass"
@import 'node_modules/react-modal-video/scss/modal-video.scss';

body 
  margin: 0
  padding: 0
  font-family: 'DM Sans', sans-serif, 'KoHo',sans-serif, 'Montserrat Subrayada',sans-serif, 'Noto Sans KR', sans-serif
  -moz-osx-font-smoothing: grayscale
  background: $black



